*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-align: center;
}

.btn{
    text-align: center;
    width: 200px;
    height: 50px;
    background: whitesmoke;
    margin:auto;
}

button{
    width: 150px;
    font-size: 1.5rem;
    margin-top: 8px;
    letter-spacing: 2px;
    cursor: pointer;
}

img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}